# API Keys
ASR_MODEL_NAME=fun-asr-mtl
ASR_BASE_URL=https://dashscope.aliyuncs.com/api/v1
LLM_API_KEY=your_llm_api_key_here
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_CHAT_NAME=qwen-plus
ENABLE_THINKING=False
LLM_TEMPERATURE=0.7

# Settings
DEBUG=True
LOG_LEVEL=DEBUG

# aliyun oss
ALIYUN_ACCESS_KEY=your_aliyun_access_key
ALIYUN_ACCESS_SECRET=your_aliyun_access_secret
ALIYUN_OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com/
ALIYUN_OSS_BUCKET_NAME=your_bucket_name
ALIYUN_OSS_FOLDER_NAME=voice_file
